alive_progress==3.1.5
matplotlib==3.10.3
music21==9.7.1
numpy>=2.3.2
pandas>=2.3.1
partitura==1.6.0
pretty_midi==0.2.10
rich==14.1.0
scipy>=1.16.0
torch>=2.4.0
pyyaml==6.0.2
seaborn==0.13.2
tqdm==4.67.1
einops==0.8.1
wandb
